.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 12rem;
  min-height: 100vh;
  font-family: 'Manrope', sans-serif;
  background-image: linear-gradient(to bottom right, #A9B8F7, #4A569D);
  color: white;
  /* animation: fadeInAnimation ease 1s; */
  /* animation-iteration-count: 1;
  animation-fill-mode: forwards; */
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.splash {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.splash > * {
  flex-basis:0;
  flex-grow:1;
}

.title {
  font-size: 36px;
  font-weight: 600;
}
.splashContent{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.splashImage{
  margin-top: -150px;
  margin-right: -100px;
}

.waitlist {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  border: 1px solid white;
  align-items: flex-start;
  flex-basis: 0;
  flex-grow: 0;
}

.join {
  padding: 10px 25px;
  flex-grow: 1;
}

.email {
  padding: 10px 25px;
  border-right: 1px solid white;
  flex-grow: 10;
}