.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    font-family: 'Manrope', sans-serif;
    background-image: linear-gradient(to bottom right, #A9B8F7, #4A569D);
    color: white;
  }
  
  .navbar {
    position: absolute;
    z-index: 10;
    top: 0;
    height: 100px;
    display: flex;
    flex-direction: row;
    padding: 20px 100px;
    width: 100%;
    justify-content: space-between;
}

.workflow {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.block {
  display: block;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
  color: #333333;
  text-align: left;
  /* text-decoration: none; */
  padding: 20px 45px;
  width: 100%;
  border-radius: 12px;
}

/* Display image results */
.gallery {
  --s: 150px; /* controls the size */
  --g: 10px;  /* controls the gap */
  --f: 1.5; /* controls the scale factor */

  display: grid;
  gap: var(--g);
  width: calc(3*var(--s) + 2*var(--g)); /* 3 times the size plus 2 times the gap */
  aspect-ratio: 1;
  grid-template-columns: repeat(3, auto);
}

.gallery > img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.gallery img:hover{
  width:  calc(var(--s) * var(--f));
  height: calc(var(--s) * var(--f));
}