.navbar {
    position: absolute;
    z-index: 10;
    top: 0;
    height: 100px;
    display: flex;
    flex-direction: row;
    padding: 20px 100px;
    width: 100%;
    justify-content: space-between;
  }
  
  .logo {
    margin-top:-20px;
    margin-left: -50px;
  }